Adrian Cole <acole@.eng.vmware.com>
Adrian Cole <adrian.f.cole@3d8758e0-26b5-11de-8745-db77d3ebf521>
Adrian Cole <adrian.f.cole@gmail.com>
Adrian Cole <ferncam1@3d8758e0-26b5-11de-8745-db77d3ebf521>
Alfredo Morresi <rainbowbreeze@gmx.com>
Alfredo Morresi <rainbowbreeze@pc-alfredo.(none)>
Andrea Turli <andrea@bigmac.local>
Andrea Turli <andrea.turli@.dir.svc.accenture.com>
Andrea Turli <Andrea_Turli@.dub.emea.dell.com>
Andrea Turli <andrea.turli@gmail.com>
Andrea Turli <toor@toor.(none)>
Andrei Savu <asavu@apache.org>
Andrew Phillips <sharedocs1@gmail.com@3d8758e0-26b5-11de-8745-db77d3ebf521>
Antoni Batchelli <tbatchelli@acm.org>
Dan Lo Bianco <dan.lobianco@cloudsoftcorp.com>
Ivan Meredith <ivan@ivan.net.nz@3d8758e0-26b5-11de-8745-db77d3ebf521>
Seshu Pasam <github@pasam.com>
Tibor Kiss <tibor.kiss@omixon.com>
Vijay Kiran <mail@vijaykiran.com>
