html {height: 100%;}

body
{ background: #FFFFFF;
  color: #FFFFFF;
}

blockquote
{ background: #4FA7D8;
  color: #E6EFF8;
  border-color: #4FA7D8;
}

#main
{ background: #FFFFFF;
  color: #FFFFFF;
}

#links, #footer, #menu, #menu li a
{ background: #FFFFFF;
  color: #165872;
  border-color: #FFFFFF;
}

#links a, #footer a, #links a:hover, #footer a:hover
{ background: transparent;
  color: #165872;
}

#logo
{ background: #FFFFFF url(jcloudslogo.jpg) no-repeat;
}

#logo h1
{ background: transparent;
  color: #FFFFFF;
}

h1, #column2 h1
{ background: transparent;
  color: #165872;
  border-color: #E6EFF8;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover
{ background: #FFFFFF;
  color: #F79C88;
} 

#content, #column2 a, #column2 a:hover
{ background: transparent;
  color: #677185;
}

.sidebaritem, .sidebaritem a, .sidebaritem a:hover
{
	background: transparent;
	color: #F79C88;
}

.sbihead {
	font: Helvetica, Verdana, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#4FA7D3;
}

.maincontent {
	font: Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color:#677185;
}

.h1 {
	font: Helvetica, Verdana, sans-serif;
	font-size: 14px;
	color:#00DBFF;
}

.button {
	font: Helvetica, Verdana, sans-serif;
	background: #F79C88;
	color:#FFFFFF;
	border-color: #F79C88;
}


.sbilinks li a
{ background: #FFFFFF;
  color: #165872;
} 

.sbilinks li a:hover
{ background: #FFFFFF;
  color: #F79C88;
} 

input, textarea
{ background: #FFFFFF;
  color: #165872;
  border-color: #165872;
}

