# use glob syntax.
syntax: glob
target
.settings
.classpath
.project
jclouds-demo-gae-tweetstore-spring.iml
jclouds-demo-gae-tweetstore-spring.ipr
jclouds-demo-gae-tweetstore-spring.iws
temp-testng-customsuite.xml