<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="HEADERSFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/test-data/jclouds-headers.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%date %level [%logger] \(%thread\) %msg%n</pattern>
        </encoder>
        <!-- Rollover at midnight each day -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>target/test-data/jclouds-headers.log.%d</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="PAYLOADFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/test-data/jclouds-payloads.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%date %level [%logger] \(%thread\) %msg%n</pattern>
        </encoder>
        <!-- Rollover at midnight each day -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>target/test-data/jclouds-payloads.log.%d</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="COMPUTEFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/test-data/jclouds-compute.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%date %level [%logger] \(%thread\) %msg%n</pattern>
        </encoder>
        <!-- Rollover at midnight each day -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>target/test-data/jclouds-compute.log.%d</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/test-data/jclouds.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <pattern>%date %level [%logger] \(%thread\) %msg%n</pattern>
        </encoder>
        <!-- Rollover at midnight each day -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>target/test-data/jclouds.log.%d</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>
    
    <!-- ============= -->
    <!-- Limit loggers -->
    <!-- ============= -->
    
    <logger name="org.jclouds">
        <level value="DEBUG" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="jclouds.headers">
        <level value="DEBUG" />
        <appender-ref ref="HEADERSFILE" />
        <appender-ref ref="PAYLOADFILE" />
    </logger>
    <logger name="jclouds.wire">
        <level value="DEBUG" />
        <appender-ref ref="PAYLOADFILE" />
    </logger>
    <logger name="jclouds.compute">
        <level value="DEBUG" />
        <appender-ref ref="COMPUTEFILE" />
    </logger>

    <!-- ===================== -->
    <!-- Setup the root logger -->
    <!-- ===================== -->
    
    <root>
        <level value="WARN" />
    </root>
    
</configuration>
