<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>{{ page.title }}</title>
  <title>jclouds</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

  <!-- **** layout stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/style/style.css" />

  <!-- **** colour scheme stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/style/colour.css" />

  <!-- **** syntax highlight stylesheet **** -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/style/code.css" />

  <!-- **** Google Fonts *** --->
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

</head>

<body>
  <div id="main">
    <div id="links">
      <!-- **** INSERT LINKS HERE **** -->
      <a href="http://groups.google.com/group/jclouds">CONTACT</a> | <a href="http://anyweight.blogspot.com" target="_blank">BLOG</a> | <a href="http://twitter.com/jclouds" target="_blank">TWITTER</a></div>
    <div id="logo"></div>
    <div id="content">
      <div id="menu">
        <ul>
          <li><a id="selected" href="index.html">home</a></li>
          <li><a href="http://code.google.com/p/jclouds/">MORE</a></li>
          <li><a href="{{ site.url }}/documentation">DOCUMENTATION</a></li>
          <li><a href="http://code.google.com/p/jclouds/wiki/AppsThatUseJClouds">COMMUNITY</a></li>
          <li><a href="http://www.meetup.com/jclouds/events/calendar/">EVENTS</a></li>
        </ul>
      </div>
      <div id="column1">
		<!-- Sidebar -->
      </div>
      <div id="column2">
		{{ content }}
      </div>
    </div>
    <div id="footer">
      Copyright©2011 jclouds, Inc.  jclouds is licensed under the Apache License, Version 2.0.  <br />
      jclouds logo is trademark of jclouds, Inc.</a>
    </div>
  </div>

</body>
</html>
